@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Playfair Display", serif;
  background: linear-gradient(to bottom, #f8fafc, #e2e8f0);
  min-height: 100%;
  color: #1e293b;
}

h1 {
  color: #0f172a;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  font-size: 18px;
  font-family: "Crimson Text", serif;
}

a {
  font-size: 18px;
  text-decoration: none;
  font-family: "Crimson Text", serif;
}

.container {
  max-width: 1000px; /* Reduz o tamanho */
  margin: 40px auto;
  padding: 20px;
  background-color: #aac2ce; /* Fundo vermelho */
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(117, 117, 117, 0.521);
}
