.input,
.textarea {
  width: 100%;
  padding: 12px;
  font-family: "Playfair Display", serif;
  background-color: white;
  border: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus,
.textarea:focus {
  border-color: #1e40af;
  box-shadow: 0 0 0 3px rgba(30, 64, 175, 0.2);
  outline: none;
}

.textarea {
  height: 150px;
}

.input.title-input {
  font-weight: bold;
  margin-right: 1rem;
  width: 100%;
}

.form button {
  width: 10%;
}

.form {
  flex-direction: column;
  display: flex;
  gap: 1rem;
  align-items: center;
}
